*{
	box-sizing: border-box;
	margin: 0;
}
main{
	min-height: 100vh;
	background-image: url("../images/bola3b.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #e4fff6;
	font-family: 'Changa', sans-serif;
	font-size: 16px;
}
.box-style{
	border-radius: 6px;
	border-style: groove;
	padding: 5px;
	text-align: center;
	font-size: 15px;
	color: #2C3E50;
}
.label-styles{
	font-weight: bold;
}
.button-input{
	border-radius: 6px;
	padding: 5px 20px;
	cursor: pointer;
	background: #D7DADB;
	color: #322110;
	text-shadow: #322110 0 1px 0;
	box-shadow: inset 0px 0px 6px #c0bede;
	border: none;
	font-family: inherit;
	margin: 10px 5px 10px;
}
.button-input:hover{
	background: #ff9534;
	text-shadow: #fff 0 1px 0;
	color: #fff;
	border-color:#ff9534;
}
.play-container{
	width: 80%;
	text-align: center;
}
.data-container{
	height: 25%;
	width: 80%;
	padding-left: 10%;
	padding-top: 2%;
	border-top: 2px solid rgb(215, 218, 219);
	margin-top: 20px;
	line-height: 1.6;
}
.title-play-container{
	text-align: center;
	padding-bottom: 30px;
}
.counting-number{
	position: absolute;
	font-size: 60px;
	color: #ff9534;
	left: 83%;
  top: 0;
}
.input-play-form{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: auto;
}
.hide{
	display: none;
}
.show{
	display: block;
}
.input-name-form{
	margin: 20px 0;
	display: flex;
  flex-direction: column;
	align-items: center;
}
.name-input-div{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	min-width: 69%;
	padding: 10px;
}
.pistas {
	border: 1px solid #1E1861;
	border-radius: 5px;
	padding: 20px 10px;
	font-size: 25px;
	color: #322110;
	background-color: rgba(215, 218, 219, 0.7);
}
.great{
	color: green;
}
/*Mediaqueries */
@media all and (min-width:900px) {
	main{
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: flex-start;
	}
	.title-data{
		padding-left: 10%;
	}
	.play-container{
		padding-right: 5%;
		padding-top: 30px;
	}
	.counting-number{
		left: 55%;
		top: 35px;
	}
	.data-container{
		border-left: 2px solid rgb(215, 218, 219);
		border-top:none;
		height: 100vh;
		width: 40%;
	}
}
