*{
box-sizing: border-box;
margin: 0;
}
main{
height: 100vh;
background-color: #D7DADB;
padding: 30px;
display: flex;
flex-direction: column;
align-items: center;
color: #2C3E50;
font-family: 'Changa', sans-serif;
font-size: 16px;
}
.box-style{
border-radius: 6px;
border-style: groove;
padding: 5px;
text-align: center;
font-size: 15px;
color:inherit;
}
.button-input{
border-radius: 6px;
padding: 5px 20px;
cursor: pointer;
background: #1E1861;
color: #fff;
text-shadow: #fff 0 1px 0;
box-shadow: inset 0px 0px 6px #c0bede;
border: none;
font-family: inherit;
}
.button-input:hover{
background: #9AC0BA;
text-shadow: #1E1861 0 1px 0;
color: #1E1861;
box-shadow: inset 0 0 20px #9AC0BA, 0 0 20px #9AC0BA;
border-color:#9AC0BA;
}
.play-container{
width: 80%;
text-align: center;
}
.data-container{
height: 25%;
width: 80%;
padding-left: 10%;
padding-top: 2%;
border-top: 2px solid #2C3E50;
margin-top: 20px;
line-height: 1.6;
}
.title-play-container{
display: flex;
flex-direction: row;
justify-content: center;
padding-bottom: 30px;
}
.title-play{
flex-grow: 3;
}
.counting-number{
font-size: 60px;
color: #FC4349;
padding-right: 5%;
padding-left: 3%;
margin-top: -26px;
}
.input-play-form{
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
height: 120px;
}
.hide{
display: none;
}
.show{
	display: block;
}
.input-name-form{
margin: 20px 0;
}
.pistas {
	border: 1px solid #1E1861;
	border-radius: 5px;
	padding: 20px 10px;
	font-size: 25px;
	color: #1E1861;
	background-color: #9AC0BA;
}
/*Mediaqueries */
@media all and (min-width:900px) {
	main{
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}
	.title-data{
	padding-left: 10%;
}
	.play-container{
	padding-right: 15px;
}
	.input-play-form{
	padding-right: 6%;
}
	.data-container{
	border-left: 2px solid #2C3E50;
	border-top:none;
	height: 100vh;
	padding-left: 60px;
	padding-top: 70px;
	margin-top: -30px;
	width: 40%;
	}
}
